---
import Blogs from "../../components/blogs.astro";
import Header from "../../components/header.astro";
import MainLayout from "../../layouts/main-layout.astro";
---

<MainLayout title="Blogs" description="Explore blogs page">
  <div>
    <Header>Explore my blogs</Header>
    <Blogs />
  </div>
</MainLayout>
