---
import Header from "../components/header.astro";
import MainLayout from "../layouts/main-layout.astro";
---

<MainLayout title="Home" description="Blogs homepage">
  <div>
    <Header>Hey, I'm Nisab Mohd</Header>
    <div class="prose prose-lg dark:prose-invert text-inherit">
      <p>
        I&apos;m a passionate software engineer skilled in Java, JavaScript,
        React, Next.js, and Node.js. My love for data structures matches my
        caffeine addiction. I thrive on daily challenges, transforming
        complexity into efficient code. From creating stunning UIs to optimizing
        backend systems, I constantly innovate and improve. Coding is my
        passion, fueled by coffee and a drive to solve problems, debug bugs, and
        build new features.
      </p>

      <p>
        When I&apos;m not busy brewing the perfect cup of coffee, you can find
        me buried under a pile of half-finished projects and coding experiments.
        Developing for fun and caffeine-fueled creativity—because who needs
        sleep when you have endless ideas and espresso?
      </p>
    </div>
  </div>
</MainLayout>
