---
import Header from "../components/header.astro";
import { convertDate, formatDate } from "../lib/util.astro";
import MainLayout from "./main-layout.astro";

export type Frontmatter = {
  title: string;
  published: string;
  description: string;
};

interface Props {
  frontmatter: Frontmatter;
}

const { title, description, published } = Astro.props.frontmatter;
const timestamp = convertDate(published);
---

<MainLayout title={title} description={description}>
  <div class="prose prose-lg w-full prose-code:text-[16.8px] prose-code:font-normal">
    <Header>{title}</Header>
    <p class="-mt-6 text-[16px]">{formatDate(timestamp)}</p>
    <slot />
  </div>
</MainLayout>
